[submodule "3rdparty/jbwapi"]
	path = 3rdparty/jbwapi
	url = https://github.com/JavaBWAPI/JBWAPI
[submodule "3rdparty/play-json"]
	path = 3rdparty/play-json
	url = https://github.com/playframework/play-json
