.cache-main
*.log.txt
*.log
*.class
*.zip
.idea/workspace.xml
.idea/codeStyles
.idea/hydra.xml
.idea/libraries/scala_sdk_2_12_6.xml
.idea/scala_settings.xml
.gradle/
/out/
/target/
/images/
dependency-reduced-pom.xml